  <!-- Footer -->
  <footer class="page-footer font-small lighten-5 ">

    <div style="background-color: #56798a;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color: white;">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a href="#" class="fa fa-facebook" style="width: 35px;
            padding: 5px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
            background: #3B5998;"
            title="facebook"></a>
            <!-- Twitter -->
            <a href="#" class="fa fa-twitter" style="width: 35px;
            padding: 5px;
            margin-left: 10px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
            background: #55ACEE;"
            title="Twitter"></a>
            <!-- Youtube -->
            <a href="https://www.youtube.com" class="fa fa-youtube" style="width: 35px;
            padding: 5px;
            margin-left: 10px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
            background: #bb0000;"
            title="Youtube"></a>

            <!--Instagram-->
            <a href="#" class="fa fa-instagram" style="width: 35px;
            padding: 5px;
            margin-left: 10px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
            background: #cb2027;"
            title="Instagram"></a>
        
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Parhly.com</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Parhly is the Pakistan's best study application & resource for Study Material and Quizes,You can find 
            any kind of Notes related to your subjects
            and prepare any kind of exam.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Notes</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Videos</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Quizes</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Books</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Privacy Policy</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#">Become Patreon</a>
          </p>
          <p>
            <a class="dark-grey-text" href="{{url_for('contact')}}">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Pakistan, FS, 38000</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>www.Parhly.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 92 303 6308 168</p>
        
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="#">Parhly.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->