<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Parhly</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{url_for('home_page')}}">Home</a>
          <a class="nav-item nav-link" href="{{url_for('about_page')}}">About</a>
          <!-- <a class="nav-item nav-link" href="{{url_for('user_page')}}">Users</a> -->
          <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Us</a>
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="{{url_for('new_post')}}">Create Post</a>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="nav-item  dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('account')}}">Account Settings</a>
              <a class="dropdown-item" href="{{url_for('user_page')}}">Users</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </div>
          </div>

          <!-- <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact Us</a> -->
          <!-- <a class="nav-item nav-link" href="{{url_for('account')}}">Account</a> -->
          <!-- <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a> -->

          {% else %}
          <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
          <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>